.display {
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5em;
  outline: 1px solid black;
  border-radius: 1rem;
}
.container {
  background-color: violet;
  width: 400px;
  height: 675px;
  border-radius: 1rem;
  padding: 1rem;
  fill: violet;
}
.row {
  display: flex;
  width: 100%;
}
button {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  border-radius: 50%;
  font-size: 1.6em;
  background-color: lightpink;
  color: white;
  flex: 1;
  outline: 1px solid black;
}
